<?xml version="1.0"?>
<launch>


  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>


  <!-- Load robot xacro -->
  <param name="robot_description"
  command="$(find xacro)/xacro '$(find dtb_quadruped_description)/robots/dtb_quadruped.urdf.xacro'" />
  
  <arg name="robot_name" value="dtb_quadruped" />
  
  
  
  <!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- arg name="world_name" value="  "/-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn urdf -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)  -model $(arg robot_name) -param robot_description"/>
    
    
   
    
  <!-- Load Controllers -->
  <rosparam file="$(find dtb_quadruped_description)/config/dtb_quadruped_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/dtb_quadruped" args="t_motor_1_position_controller t_motor_2_position_controller t_motor_3_position_controller t_motor_4_position_controller l_motor_1_position_controller l_motor_2_position_controller l_motor_3_position_controller l_motor_4_position_controller h_motor_1_position_controller h_motor_2_position_controller h_motor_3_position_controller h_motor_4_position_controller joint_state_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/dtb_quadruped/joint_states" />
  </node>
    
    

  
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dtb_quadruped_description)/rviz_config/urdf_visualize.rviz"/>
  
</launch>
















